:root{
    --vanilla: #EAE2B7;
    --xanthous: #FCBF49;
    --orange: #F77F00;
    --fire: #D62828;
    --prussian: #003049;
}
.home p{
    color: var(--prussian);
    font-size: 1.5rem;
    padding-bottom: 1em;
}
@media (max-width: 768px) {
    .home p{
        color: var(--prussian);
        font-size: 1.5rem;
        padding-bottom: 1em;
    }
}
@media (max-width: 992px) {
    .home p{
        color: var(--prussian);
        font-size: 16px;
        padding-bottom: 1em;
    }
}
